/* You can add global styles to this file, and also import other style files */


.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.amount {
    font-size: 2.2em;
}

.amount-box {
    padding: 50pt;
}

.btn-x-large {
    padding: 14px 110px;
    font-size: 1.8em;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.card-exchange {
    text-align: left;
    border: none;
}
